@font-face {
  font-family: "Spectech Download Flaticon";
  src: url("./flaticon.eot");
  src: url("./flaticon.eot?#iefix") format("embedded-opentype"),
       url("./flaticon.woff") format("woff"),
       url("./flaticon.ttf") format("truetype"),
       url("./flaticon.svg#flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Spectech Download Flaticon";
    src: url("./flaticon.svg#flaticon") format("svg");
  }
}

.spectech-flaticon-download:before { content: "\f100"; font-family: "Spectech Download Flaticon";}
.spectech-flaticon-file:before { content: "\f101"; font-family: "Spectech Download Flaticon";}
.spectech-flaticon-picture:before { content: "\f102"; font-family: "Spectech Download Flaticon";}
.spectech-flaticon-video-player:before { content: "\f103"; font-family: "Spectech Download Flaticon";}
.spectech-flaticon-zip:before { content: "\f104"; font-family: "Spectech Download Flaticon";}
.spectech-flaticon-pdf:before { content: "\f105"; font-family: "Spectech Download Flaticon";}