/*
	Flaticon icon font: Flaticon
	Creation date: 25/07/2016 05:16
*/
@font-face {
  font-family: "Grade Ship Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.grade-flaticon-anchor:before { content: "\f100"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-arrows:before { content: "\f101"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-box:before { content: "\f102"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-clock:before { content: "\f103"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-cup:before { content: "\f104"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-diploma:before { content: "\f105"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-experiment-results:before { content: "\f106"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-facebook-logo-button:before { content: "\f107"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-gears:before { content: "\f108"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-google-plus-logo-button:before { content: "\f109"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-hardware:before { content: "\f10a"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-light-bulb:before { content: "\f10b"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-machinery:before { content: "\f10c"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-mail:before { content: "\f10d"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-office-secretary:before { content: "\f10e"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-placeholder:before { content: "\f10f"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-processor:before { content: "\f110"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-ribbon-badge:before { content: "\f111"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-robotic-arm:before { content: "\f112"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-search:before { content: "\f113"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-technology:before { content: "\f114"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-technology-1:before { content: "\f115"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-technology-2:before { content: "\f116"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-transport:before { content: "\f117"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-twitter-logo-button:before { content: "\f118"; font-family: "Grade Ship Flaticon";}
.grade-flaticon-wrench:before { content: "\f119"; font-family: "Grade Ship Flaticon";}