/* ================================================ */
/* don't touch this style auto generating by system */
/* ================================================ */
		h1, h2, h3, h4, h5, h6,
		.primary_color_text,
		.woocommerce nav.woocommerce-pagination ul li a,
		.woocommerce-page nav.woocommerce-pagination ul li a,
		.woocommerce #content nav.woocommerce-pagination ul li a,
		.woocommerce-page #content nav.woocommerce-pagination ul li a,
		.woocommerce nav.woocommerce-pagination ul li span,
		.woocommerce-page nav.woocommerce-pagination ul li span,
		.woocommerce #content nav.woocommerce-pagination ul li span,
		.woocommerce-page #content nav.woocommerce-pagination ul li span,
		.woocommerce nav.woocommerce-pagination ul li span.current,
		.woocommerce-page nav.woocommerce-pagination ul li span.current,
		.woocommerce #content nav.woocommerce-pagination ul li span.current,
		.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
		.woocommerce nav.woocommerce-pagination ul li a:hover,
		.woocommerce-page nav.woocommerce-pagination ul li a:hover,
		.woocommerce #content nav.woocommerce-pagination ul li a:hover,
		.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
		.woocommerce nav.woocommerce-pagination ul li a:focus,
		.woocommerce-page nav.woocommerce-pagination ul li a:focus,
		.woocommerce #content nav.woocommerce-pagination ul li a:focus,
		.woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
			color: #fec56b;
		}

		.primary_color_border { border-color: #fec56b; }
		.primary_color_button,
		.woocommerce.widget_product_tag_cloud li { background-color: #fec56b; }


		.woocommerce .single_add_to_cart_button:hover {background-color: #e4b160!important;}
		.woocommerce div.product .woocommerce-tabs #reviews #review_form_wrapper input[type="submit"]:hover
		{
  			background-color: #e4b160;
		}

		.btn-color-primary,
		.portfolio-navigation a.more-post,
		.shipping-calculator-button,
		.woocommerce #content input.button,
		.woocommerce #respond input#submit,
		.woocommerce input.button,
		.woocommerce-page #content input.button,
		.woocommerce-page #respond input#submit,
		.woocommerce-page a.button,
		.woocommerce-page button.button,
		.woocommerce-page input.button,
		.woocommerce.widget_product_search .searchsubmit,
		.woocommerce #content input.button.alt,
		.woocommerce #respond input#submit.alt,
		.woocommerce a.button.alt,
		.woocommerce button.button.alt,
		.woocommerce input.button.alt,
		.woocommerce-page #content input.button.alt,
		.woocommerce-page #respond input#submit.alt,
		.woocommerce-page a.button.alt,
		.woocommerce-page button.button.alt,
		.woocommerce-page input.button.alt,
		.cart-popup .button {
			background: #fec56b;
		}

		#customer_details label { color: #fec56b; }
		
		footer .widget_text ul.list-inline-icon li:hover { border: 1px solid #fec56b; background: #fec56b; }
		footer .owl-theme .owl-controls .owl-page span { background-color: #fec56b; border: 2px solid #fec56b; }
		footer .owl-theme .owl-controls .owl-page.active span { border: 2px solid #fec56b; }

		footer .widget_tag_cloud .tagcloud .tag a:hover {
		  background-color: #fec56b;
		}

		footer .dt_widget_accordion .btn-accordion {
		  background-color: #fec56b;
		}

		footer .dt_widget_accordion .opened {
		  background: #ffffff; 
		  color: #fec56b;
		}

		footer .dt_widget_accordion .openedup {
		  background-color: #fec56b;
		}
		.sidebar .owl-theme .owl-controls .owl-page span {
		  background-color: #fec56b;
		}
		.sidebar .owl-theme .owl-controls .owl-page.active span {
		  border: 2px solid #fec56b;
		}

		.widget_text ul.list-inline-icon li:hover {
		   border: 1px solid #fec56b; background: #fec56b; 
		}

		footer h3,
		footer .widget-title,
		#related-port .related-port figure figcaption .related-tag a {
		  color: #fec56b;
		}

		.dt_team_custom_item hr:after {
		  width: 50px !important;
		}
		.dt-iconboxes.hover-this .dt-section-icon:hover:after,
		.dt-iconboxes.hover-this .dt-section-icon:hover:before,
		.dt-iconboxes.layout-3.hover-this .dt-section-icon:hover:after,
		.dt-iconboxes.layout-3.hover-this .dt-section-icon:hover:before,
		.dt-iconboxes-4.hover-this:hover .dt-section-icon:after,
		.dt-iconboxes-4.hover-this:hover .dt-section-icon:before {
		  border-top-color: #fec56b !important;
		}

		.dt-iconboxes-4.hover-this:hover .dt-section-icon i:hover,
		.dt-iconboxes.layout-6 i,
		.no-touch .dt-iconboxes-4.hover-this:hover .hi-icon-effect-5 .hi-icon {
		  color: #fec56b !important;
		}
		.no-touch .dt-iconboxes-5.hover-this:hover .hi-icon-effect-5 .hi-icon {
		  border-color: #fec56b !important;
		}
		.dt-iconboxes.hover-this .dt-section-icon:hover,
		.dt-iconboxes-2.hover-this:hover .dt-section-icon i.hi-icon,
		.dt-iconboxes-2.hover-this:hover i,
		.dt-iconboxes.layout-3.hover-this .dt-section-icon:hover,
		.dt-iconboxes-4.hover-this:hover .dt-section-icon,
		.no-touch .dt-iconboxes-5.hover-this:hover .hi-icon-effect-5 .hi-icon,
		.dt-iconboxes.layout-6.hover-this:hover {
		  background-color: #fec56b !important;
		}
		.dt-iconboxes.layout-3.hover-this .dt-section-icon:hover {
			border-color: #fec56b!important;
	    }
		.dt_team_custom_item .profile-scocial a:hover,
		.dt_team_custom_item .profile-scocial i:hover {
		  color: #fec56b;
		}
		.price-4-col.featured ul, .price-3-col.featured ul{
		  background-color: #fec56b;
		}
		.price-4-col.featured .hover-tip:before, .price-3-col.featured .hover-tip:before,
		.price-4-col.featured .hover-tip:after, .price-3-col.featured .hover-tip:after {
			border-bottom-color: #b1894a;
		}
		.price-4-col.featured .plan-action:before, .price-3-col.featured .plan-action:before,
		.price-4-col.featured .plan-action:after, .price-3-col.featured .plan-action:after {
			border-top-color: #b1894a;
		}
		.dt-pricing-table .price-4-col .btn-active,
		.dt-pricing-table .price-3-col .btn-active {
		  background-color: #fec56b;
		}
		.dt-pricing-table .price-4-col .btn-active:hover,
		.dt-pricing-table .price-3-col .btn-active:hover {
		  background-color: #cb9d55;
		}
		.mejs-container .mejs-controls .mejs-horizontal-volume-current,
		.mejs-container .mejs-controls .mejs-time-loaded {
		  background-color: #fec56b !important;
		}

		#dt-menu li a:hover,
		#dt-topbar-menu-left li a:hover,
		#dt-topbar-menu-right li a:hover, 
		#dt-menu ul.sub-nav li:hover > a,
		#head-page #dt-menu > ul > li > a:hover,
		#head-page.reveal #dt-menu > ul > li > a:hover,
		#head-page.reveal.alt #dt-menu > ul > li > a:hover,
		.home #head-page #dt-menu > ul > li > a:hover,
		.home #head-page.reveal #dt-menu > ul > li > a:hover,
		.home #head-page.reveal.alt #dt-menu > ul > li > a:hover,
		.home #head-page.reveal:not(.alt) #dt-menu > ul > li > a:hover,
		.home #head-page.reveal:not(.alt) #dt-menu a.search_btn:hover,
		.menu-leftvc #head-page #dt-menu > ul > li > a:hover,
		.home.menu-leftvc #head-page #dt-menu > ul > li > a:hover {
			color: #fec56b;
		}

		@media (max-width: 991px) {
			#head-page #dt-menu > ul > li > a:hover,
			#head-page.reveal #dt-menu > ul > li > a:hover,
			#head-page.reveal.alt #dt-menu > ul > li > a:hover {
				color: #fec56b !important;
			}
		}

		@media (min-width: 767px) {
			#dt-menu ul li:hover > a {
				color: #fec56b;
			}
		}
		#dt-menu a.search_btn:hover {
		    color: #fec56b !important;
		}

		#dt-topbar-menu-left ul li:hover > a {
		    color: #fec56b;
		}
		#dt-topbar-menu-left .toggle-sub {
		  background: #fec56b;
		}
		#dt-topbar-menu-left li:hover > .toggle-sub {
		  color: #fec56b;
		}
		#dt-topbar-menu-left ul li:first-child {
		    border-top: 3px solid #fec56b !important;
		  }

		#dt-topbar-menu-right ul li:hover > a {
		    color: #fec56b;
		}
		#dt-topbar-menu-right .toggle-sub {
		  background: #fec56b;
		}
		#dt-topbar-menu-right li:hover > .toggle-sub {
		  color: #fec56b;
		}

		.select.select-theme-default .select-options .select-option:hover, .select.select-theme-default .select-options .select-option.select-option-highlight {background: #fec56b;}

		footer .dt_widget_portfolio_posts .post-item figure figcaption {
		  background: rgba(127,98,53, 0.6);
		}
		.sidebar .dt_widget_portfolio_posts .portfolio_wrapper .post-item figure figcaption {
		  background: rgba(127,98,53, 0.6);
		}
		.dt_widget_featured_posts .post-item figure figcaption {
		  background: rgba(127,98,53, 0.6);
		}


		.dt-iconboxes.layout-7.hover-this:hover i{
		  border-color: #a58045 !important;	
		}
		.dt-iconboxes.layout-7 i,
		.dt-iconboxes.layout-8 i {
		  color: #fec56b;	
		}

		@media (max-width: 768px) {
		  #footer-left {
		    border-bottom: solid 1px #654e2a;
		  }
		}
		.dt-iconboxes-4.hover-this:hover { 
			background-color: #cb9d55; 
		}

		.sidebar .woocommerce.widget_product_tag_cloud .tagcloud .tag:hover,
		footer .woocommerce.widget_product_tag_cloud .tagcloud .tag:hover {
		  background-color: #fec56b;
		}

		.border-color-primary
		{
		  border-color: #fec56b;
		}

		.woocommerce .stars a:hover:after { color: #fec56b; }
		
		.box-main-color .img-blank {
		  background-color: #fec56b;
		}
		.link-color-primary, 
		#dt-menu #menu-main-menu .current-menu-parent > a,
		#head-page.reveal #dt-menu > ul > li.current-menu-item > a,
		#head-page.reveal.alt #dt-menu > ul > li.current-menu-item > a,
		.home #head-page.reveal #dt-menu > ul > li.current-menu-item > a,
		.home #head-page.reveal:not(.alt) #dt-menu > ul > li.current-menu-item > a,
		.home #head-page.reveal.alt #dt-menu > ul > li.current-menu-item > a,
		#head-page.reveal #dt-menu > ul > li.current-menu-ancestor > a,
		#head-page.reveal.alt #dt-menu > ul > li.current-menu-ancestor > a,
		#head-page.reveal #dt-menu ul li.current-menu-item > a,
		#head-page.reveal.alt #dt-menu ul li.current-menu-item > a,
		#head-page.reveal #dt-menu ul li.current-menu-ancestor > a,
		#head-page.reveal.alt #dt-menu ul li.current-menu-ancestor > a {
		  color: #fec56b;
		}
		
		#dt-menu li.current-menu-parent > a {
		  color: #fec56b!important;
		}

		.background-color-primary,
		.dt-icon-square.primary-color, 
		.dt-icon-circle.primary-color, 
		.dt-icon-ghost.primary-color, 
		.sidebar .widget_text .social-circled li:hover, 
		footer .container .widget_text .social-circled li:hover, 
		#featured-work-navbar #featured-filter.dt-featured-filter li.active a, 
		.owl-custom-pagination .owl-page.active i, 
		.wpb_wrapper .wpb_content_element .wpb_accordion_wrapper .ui-state-default .ui-icon:after, 
		.wpb_wrapper .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active,  
		#sequence ul li .btn-cta:after, .dt-iconboxes-4, .dt-iconboxes.hover-this .dt-section-icon:hover, 
		.dt-iconboxes-2.hover-this:hover .dt-section-icon i.hi-icon, .dt-iconboxes-2.hover-this:hover i, 
		.dt-iconboxes.layout-3.hover-this .dt-section-icon:hover, .dt-iconboxes-4.hover-this:hover .dt-section-icon, 
		.no-touch .dt-iconboxes-5.hover-this:hover .hi-icon-effect-5 .hi-icon, 
		.dt-iconboxes.layout-6.hover-this:hover, 
		.dt-iconboxes.layout-3.hover-this .dt-section-icon:hover {
		  background: none repeat scroll 0 0 #fec56b;
		}
		.bulat2 {
		  background: none repeat scroll 0 0 #fec56b;
		}
		#featured-work-navbar #featured-filter.dt-featured-filter li.active {
		  border: 1px solid #fec56b !important;
		}
		.no-touch .dt-iconboxes-5.hover-this:hover .hi-icon-effect-5 .hi-icon {
		  background-color: #fec56b;
		  border-color: #fec56b;
		}
		.container .owl-theme .owl-controls .owl-page span,
		.container .owl-theme .owl-custom-pagination .owl-page span {
		  background-color: #fec56b;
		  border-color: #fec56b; 
		}
		.owl-theme .owl-controls .owl-page.active span,
		.owl-theme .owl-custom-pagination .owl-page.active span {
		  border-color: #fec56b; 
		}
		.container .carousel-content .carousel-indicators li {
		  	background-color: #fec56b;
		  	border-color: #fec56b; 
		}
		.container .carousel-content .carousel-indicators .active {
		  	border-color: #fec56b; 
		}
		.dt-iconboxes.hover-this .dt-section-icon:hover {
		  	border-color: #fec56b;
		}
		#dt-menu .sub-nav li.current-menu-item,
		#dt-menu .sub-nav li:hover {
		  border-color: #fec56b;
		}
		.dt_vertical_tab .vertical-nav-tab > li > div i { color: #fec56b; }
		.wpb_wrapper .wpb_content_element .wpb_accordion_wrapper .ui-state-active .ui-icon:after {
			color: #fec56b;
		}
		.wpb_wrapper .wpb_content_element .wpb_tabs_nav li.ui-tabs-active {
			background: none repeat scroll 0 0 #fec56b;
		}

		.btn.btn-link { color: #fec56b; }
		.btn.btn-link:hover { color: #fec56b; }
		
		.btn.btn-rounded { color: #fec56b; border-color: #fec56b; }

		footer .widget-title h3:after { border-top: 2px solid #fec56b; }

		.woocommerce div.product .woocommerce-tabs #reviews #comments .comment_container .comment-text .meta .datePublished {
			color: #fec56b;
		}

		.woocommerce div.product .woocommerce-tabs #reviews #comments .comment_container .comment-text .meta .datePublished,
		.woocommerce .star-rating span,
		.dtcareers .career-isotope-job-field i,
		.dt_report_pre_title { color : #fec56b; }

		.dt_report_button a { background-color : #fec56b; }
		.dt_report_button a:hover { background-color : #b1894a; }
		.dt_report_pagination .page-numbers.current { background-color: #fec56b; }
		.dt_report_pagination .page-numbers:hover { background-color: #fec56b; }

		.eg-portfolio-element-5 {background-color: #fec56b!important;}
		.eg-portfolio-element-5:hover {background-color: #e4b160!important;}

		.widget a:hover{ color: #fec56b; }
		.flex-control-paging li a.flex-active, .flex-control-paging li a:hover {
  			background: #fec56b!important;
		}

		.dt-timeline .time-item:hover .center-line i { background: #fec56b; }
		.dt-timeline .time-item:hover .content-line { border-color: #fec56b; }
		.dt-timeline .time-item:hover .content-line:before { border-color: #fec56b; }
		.dt-media .select-target { background-color: #fec56b; }
		
		.horizontal-wp-custom-menu li.current-menu-item { background-color: #fec56b; }
		.horizontal-wp-custom-menu .widget_nav_menu ul { border-top-color: #fec56b!important; }

		.dt-icon.primary-color { color: #fec56b; }
		.products .type-product .button:hover,
		.products .type-product .woocommerce_after_shop_loop_item_title .button:hover
	 	{ 
			background-color: #e4b160; 
		}


		.dt-shop-category .owl-carousel-navigation .btn-owl { background-color: #fec56b; }
		.dt-shop-category .owl-carousel-navigation .btn-owl:hover { background-color: #e4b160!important; }
		.widget_rss .rsswidget { color: #fec56b; }		

		.menu-leftvc #head-page.alt #dt-menu > ul > li.current-menu-item > a { color: #fec56b; }
		.menu-leftvc #head-page.alt #dt-menu > ul > li > a:hover,
		.menu-leftvc #head-page.alt #dt-menu > ul > li > a:active,
		.menu-leftvc #head-page.alt #dt-menu > ul > li > a:focus { color: #fec56b; }
		.menu-leftvc #dt-menu .sub-nav a:hover { background-color: #fec56b; }
		
		.secondary_color_bg { background-color: #61a4b4; }
		.secondary_color_text { color: #61a4b4; }
		.secondary_color_border { border-color: #61a4b4; }

		.secondary_color_button, .btn-color-secondary {
		  background-color: #61a4b4;
		}
		.secondary_color_button:hover, .btn-color-secondary:hover {
		  background-color: #4d8390!important;
		}
		.background-color-secondary,
		.dt-icon-circle.secondary-color,
		.dt-icon-ghost.secondary-color,
		.dt-icon-square.secondary-color,
		#sequence ul.sequence-canvas li .slide-title:after,
		:selection,
		::selection,
		::-moz-selection {
		  background: #61a4b4;
		}
		.woocommerce.widget_product_tag_cloud li:hover {
		  background-color: #61a4b4;
		}
		.woocommerce ul.products li.product .onsale:after,
		.woocommerce-page ul.products li.product .onsale:after,
		.woocommerce span.onsale:after,
		.woocommerce-page span.onsale:after {
		  border-bottom: 40px solid #61a4b4;
		}

		a:hover, a:focus { color : #4d8390; }

		a,
		.dt-iconboxes a,
		h1 a:hover,
		h2 a:hover,
		h3 a:hover,
		h4 a:hover,
		h5 a:hover,
		h6 a:hover,
		h1 a:focus,
		h2 a:focus,
		h3 a:focus,
		h4 a:focus,
		h5 a:focus,
		h6 a:focus,
		.postinfo a:hover,
		.portfolio-type-text .portfolio-item .portfolio-termlist a,
		#dt-topbar-menu-left li .toggle-sub:hover,
		#dt-topbar-menu-left a.search_btn:hover,
		#dt-topbar-menu-right li .toggle-sub:hover, 
		#dt-topbar-menu-right a.search_btn:hover,
		footer .widget_recent_comments a:hover,
		.sidebar a:hover, 
		.sidebar .dt-widget-twitter .sequence-twitter a,
		.widget_recent_comments a:hover,
		.share-button label span, 
		#top-bar a:hover,
		.post-masonry li.isotope-item .isotope-inner .comment-count i:before,
		.post-masonry li.isotope-item .post-info .author a,
		.dt-icon.secondary-color,
		.woocommerce .star-rating span,
		.blog_info_categories, .blog_info_categories a,
		.widget_tag_cloud .tagcloud .tag a:hover{ color: #61a4b4; }

		.dt-section-head header i {
		  background: #61a4b4;
		}
		.progress_bars i {
		  background-color: #61a4b4;
		}

		.box-secondary-color .img-blank {
		  background-color: #61a4b4;
		}
		.bulat1 {
		  background: none repeat scroll 0 0 #61a4b4;
		}

		.blog_info_tags a:hover { color: #61a4b4!important; }

		@media (min-width: 992px) {
			.menu-leftvc #dt-menu .sub-nav .dt-megamenu-sub-nav a:hover {
				color: #61a4b4!important;
			}
		}

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
	.woocommerce table.shop_table th, 
	.woocommerce-page table.shop_table th,
	.woocommerce .cart-collaterals .cart_totals h2, 
	.woocommerce .cart-collaterals .cart_totals h2, 
	.woocommerce-page .cart-collaterals .cart_totals h2, 
	.woocommerce-page .cart-collaterals .cart_totals h2
 { color: #202020; }
	.tertier_color_bg {background-color: #ffffff; }
		.footer-left { color: #adadad; }
		.footer-right { color: #adadad; }
		footer a { color: #adadad; }
		footer .widget-title { color: #adadad; }
		footer .container .widget_text .social-circled li,
		footer .container .widget_text .social-circled li:last-child,
		footer .woocommerce ul.cart_list li,
		footer .woocommerce ul.product_list_widget li,
		footer .woocommerce-page ul.cart_list li,
		footer .woocommerce-page ul.product_list_widget li,
		footer .woocommerce.widget_product_categories li,
		footer .widget_tag_cloud .tagcloud .tag,
		footer .dt_widget_accordion .panel-heading,
		footer .dt_widget_accordion .panel-body,
		footer .widget_categories ul li,
		footer .widget_recent_entries ul li,
		footer .widget_recent_comments ul li,
		footer .widget_rss ul li,
		footer .widget_meta ul li,
		footer .widget_nav_menu ul li,
		footer .widget_archive ul li,
		footer .widget_text ul li,
		footer .woocommerce.widget_product_tag_cloud .tagcloud .tag {
		  border-color: rgba(173,173,173, 0.4);
		}

		footer .widget_text ul.list-inline-icon li {
		  border: 1px solid rgba(173,173,173, 0.4);
		}

		footer .widget_search {
		  color: #adadad;
		}

		footer .widget_search [name="s"] {
		  border: 1px solid rgba(173,173,173, 0.4);
		  color: #adadad;
		}

		footer .select-target.select-theme-default {
	  		border: 1px solid rgba(173,173,173, 0.4);
		}

		footer .dt_widget_accordion .panel-heading {
		  color: #adadad;
		}
		
		footer .widget_recent_comments a {
		  color: rgba(173,173,173, 0.4);
		}

		footer .woocommerce.widget_product_search [name="s"] {
		  border: 1px solid rgba(173,173,173, 0.4);
		}
.menu_background_color { background-color: rgba(0,0,0,0); }#head-page.menu_background_color { background-color: rgba(0,0,0,0); }@media (max-width: 991px) { #head-page { background-color: rgba(0,0,0,0); }}#head-page.is-sticky.menu_background_color { background-color: rgba(38,50,74,1); }@media (min-width: 992px) { .menu-leftvc #head-page.is-sticky { background-color: rgba(38,50,74,1); }}@media (max-width: 991px) { #head-page.is-sticky { background-color: rgba(38,50,74,1); }}.home .menu_background_color { background-color: rgba(0,0,0,0); }.home #head-page.menu_background_color { background-color: rgba(0,0,0,0); }@media (max-width: 991px) { .home #head-page { background-color: rgba(0,0,0,0); }}.home #head-page.is-sticky.menu_background_color { background-color: rgba(38,50,74,1); }@media (max-width: 991px) { .home #head-page.is-sticky { background-color: rgba(38,50,74,1); }}.home .stickyonscrollup.is-visible.menu_background_color { background-color: rgba(38,50,74,1); }@media (min-width: 992px) { .home.menu-leftvc #head-page.is-sticky { background-color: rgba(38,50,74,1); }}#head-page #dt-menu > ul > li > a { color:#ffffff; }#head-page { color:#ffffff; }#head-page #mobile-header label.toggle { color:#ffffff;}#head-page #mobile-header label.toggle:hover { color:#ffffff;}#head-page #dt-menu a.search_btn,#top-bar i { color:#ffffff;}@media (min-width: 991px) { #head-page #dt-menu a.search_btn {color:#ffffff;}}@media (min-width: 991px) { #head-page.is-sticky #dt-menu > ul > li > a { color:#ffffff;}}@media (min-width: 991px) { #head-page.is-sticky #dt-menu a.search_btn { color:#ffffff;}}#head-page.is-sticky #mobile-header label.toggle { color:#ffffff;}#head-page.is-sticky #mobile-header label.toggle:hover { color:#ffffff;}@media (min-width: 991px) { .home #head-page.is-sticky #dt-menu > ul > li > a { color:#ffffff;}}@media (min-width: 991px) { .home #head-page.is-sticky #dt-menu a.search_btn { color:#ffffff;}}#mobile-header { color:#ffffff;}.home #head-page.is-sticky #mobile-header label.toggle { color:#ffffff;}.home #head-page.is-sticky #mobile-header label.toggle:hover { color:#ffffff;}.home #head-page #dt-menu > ul > li > a {color:#ffffff;}.home #head-page,.home #top-bar i {color:#ffffff;}.home #head-page #mobile-header label.toggle {color:#ffffff;}@media (min-width: 991px) { .home #head-page #dt-menu a.search_btn {color:#ffffff;}}#dt-menu.dt-menu-left .logolink { margin-top: -20px; }#dt-menu.dt-menu-right .logolink { margin-top: -20px; }#dt-menu.dt-menu-center .logolink { margin-top: -20px; }#dt-menu.dt-menu-center .logolink { width: 240px; }.navigation_button { color: #ffffff; }.navigation_button .navigation_button_item i { color: #fec56b; }.navigation_button { border-bottom-color: rgba(255,255,255,0.1); }.nav_buttons_bgcolor { background-color: rgba(38,50,74,1); }.menu-leftvc #head-page:not(.is-sticky) .logo_bgcolor { background-color: rgba(40,65,114,1); }.menu-leftvc #head-page:not(.is-sticky) .nav_bgcolor,#top-bar i { background-color: rgba(38,50,74,1); }body.dt_custom_body, .body_background_color { background-color: #ffffff; }body.dt_custom_body { color: #696969; }	@media(min-width: 768px) {
			#floatMenu {
				top: 200px;background-color: #ecf0f1;;
			}
	}
	#banner-section .row {top: 150px;}section#banner-section .page-title, section#banner-section .breadcrumbs, section#banner-section .breadcrumbs a { color:#ffffff;}
		#head-page > .container { min-height: 5em; }
		@media(min-width: 992px) {
			#dt-menu > ul > li { line-height: 5em;}
		}
			.reveal.alt #dt-menu.dt-menu-center > ul { margin-top: 100px; }
	.grid li {
			width: 50%;
		}@media screen and (min-width: 601px) and (max-width: 900px) {
			.grid li {
				width: 50%;
			}
		}@media screen and (max-width: 600px) {
			.grid li {
				width: 100%;
			}
		}
/* custom css generate from your custom css code*/
                body{
height: 100%;
}

.pre-footer-section .widget a,
.pre-footer-section .widget_tag_cloud .tagcloud .tag a{
    color: #fff;
}
section#banner-section .breadcrumbs{
    display:none;
}
#banner-section .row{
    top:0!important;
}
section#banner-section{
    display:flex;
    align-items:center;
}            #top-bar { background-color: rgba(255,255,255,1); }#top-bar,#top-bar a,#top-bar i {color:#4a4a4a;}.menu-center #top-bar,
				.menu-left #top-bar,
				.menu-leftbar #top-bar,
				.menu-middle #top-bar,
				.menu-right #top-bar { display: block; }.menu-leftvc #top-bar .container { display: block; }#top-bar { min-height: 135px; }.woocommerce nav.woocommerce-pagination ul li { border-color: #696969; }.dtcareers .career-item,.dtcareers .career-item .career-isotope-button{ border-color: #696969;}.menu-leftvc #dt-menu .sub-nav a { color: #696969; }