.blog .blog-masonry .single-masonry .blog_info_share,
.blog .blog-masonry .single-masonry .masonry_readmore {
  margin-top: 10px;
  margin-bottom: 25px;
}
.blog .blog-masonry .single-masonry .blog_info_share a {
  display: inline-block;
}
.blog .blog-masonry .single-masonry .btn-readmore {
  text-transform: capitalize;
}
.blog .blog-masonry .single-masonry .postcontent-link {
  padding: 85px 40px;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog .blog-masonry .single-masonry .blog-post-title {
  overflow: hidden;
}
.blog .blog-masonry .single-masonry .blog_info_author {
  font-weight: normal;
  color: rgba(51, 51, 51, 0.4);
}
.blog .blog-masonry .single-masonry .postcontent.postcontent-quote {
  padding: 85px 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog .blog-masonry .single-masonry .postcontent.postcontent-quote blockquote:before {
  left: 17px;
}
.blog .blog-masonry .single-masonry .post-gallery-carousel .post-gallery-carousel-nav .post-gallery-carousel-buttons a {
  border: none;
}
.blog .blog-masonry .single-masonry .post-gallery-carousel .post-gallery-carousel-nav .post-gallery-carousel-buttons a:hover {
  background-color: transparent;
}
.blog .blog-masonry .single-masonry .blog_info_categories {
  line-height: 22px;
}
.blog .blog-masonry .single-masonry h2.blog-post-title,
.blog .blog-masonry .single-masonry h2.blog-post-title a {
  font-size: 30px;
}
.blog .blog-masonry ~ .paging-nav {
  padding-left: 20px;
  padding-right: 20px;
}
