/* pagination */
.next.page-numbers span:after {
  content: "\2192";
  position: relative;
  left: 5px;
}
.prev.page-numbers span:before {
  position: relative;
  right: 5px;
  content: "\2190";
}
.rtl .next.page-numbers span:after {
  content: "";
}
.rtl .prev.page-numbers span:before {
  content: "";
}
.rtl .next.page-numbers span:before {
  content: "\2190";
  position: relative;
  right: 5px;
}
.rtl .prev.page-numbers span:after {
  content: "\2192";
  position: relative;
  left: 5px;
}
