/* Header */
@-moz-keyframes reveal-header {
  0% {
    -moz-transform: translateY(-3em);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes reveal-header {
  0% {
    -webkit-transform: translateY(-3em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes reveal-header {
  0% {
    -o-transform: translateY(-3em);
    opacity: 0;
  }
  100% {
    -o-transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes reveal-header {
  0% {
    -ms-transform: translateY(-3em);
    opacity: 0;
  }
  100% {
    -ms-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes reveal-header {
  0% {
    top: -2em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
#head-page {
  color: inherit;
  cursor: default;
  left: 0;
  position: relative;
  width: 100%;
  z-index: 10000;
}
#head-page.reveal {
  position: fixed;
  -webkit-animation: reveal-header 1s ease-in-out;
  -moz-animation: reveal-header 1s ease-in-out;
  -ms-animation: reveal-header 1s ease-in-out;
  -o-animation: reveal-header 1s ease-in-out;
  animation: reveal-header 1s ease-in-out;
}
#head-page.reveal.alt {
  position: relative;
}
.is-sticky-menu #head-page.reveal {
  position: fixed;
}
.is-sticky-menu #head-page.reveal.alt {
  position: absolute;
}
#head-page.adminbar-is-here.hastopbar.reveal {
  top: 32px;
}
#head-page.adminbar-is-here.hastopbar.reveal.alt {
  top: 0;
}
#head-page.adminbar-is-here.notopbar.reveal {
  top: 32px;
}
#head-page.adminbar-is-here.notopbar.reveal.alt {
  top: 0;
}
#head-page.adminbar-not-here.hastopbar.reveal {
  top: 0;
}
#head-page.adminbar-not-here.hastopbar.reveal.alt {
  top: 0;
}
#head-page.adminbar-not-here.notopbar.reveal {
  top: 0;
}
#head-page.adminbar-not-here.notopbar.reveal.alt {
  top: 0;
}
.vertical_menu #head-page.reveal {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}
.vertical_menu #head-page.alt {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}
.vertical_menu #head-page.adminbar-is-here.hastopbar.reveal {
  top: 32px;
}
.vertical_menu #head-page.adminbar-is-here.hastopbar.alt {
  top: 32px;
}
.vertical_menu #head-page.adminbar-is-here.notopbar.reveal {
  top: 32px;
}
.vertical_menu #head-page.adminbar-is-here.notopbar.alt {
  top: 32px;
}
.vertical_menu #head-page.adminbar-not-here.hastopbar.reveal {
  top: 0;
}
.vertical_menu #head-page.adminbar-not-here.hastopbar.alt {
  top: 0;
}
.vertical_menu #head-page.adminbar-not-here.notopbar.reveal {
  top: 0;
}
.vertical_menu #head-page.adminbar-not-here.notopbar.alt {
  top: 0;
}
@media (max-width: 767px) {
  #head-page.adminbar-is-here.hastopbar.reveal {
    top: 46px;
  }
  #head-page.adminbar-is-here.hastopbar.reveal.alt {
    top: 0;
  }
  #head-page.adminbar-is-here.notopbar.reveal {
    top: 46px;
  }
  #head-page.adminbar-is-here.notopbar.reveal.alt {
    top: 0;
  }
  #head-page.adminbar-not-here.hastopbar.reveal {
    top: 0;
  }
  #head-page.adminbar-not-here.hastopbar.reveal.alt {
    top: 0;
  }
  #head-page.adminbar-not-here.notopbar.reveal {
    top: 0;
  }
  #head-page.adminbar-not-here.notopbar.reveal.alt {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head.sticky {
    top: 0;
  }
  .vertical_menu #head-page.adminbar-is-here.hastopbar.reveal {
    top: 78px;
  }
  .vertical_menu #head-page.adminbar-is-here.hastopbar.reveal.alt {
    top: 0;
  }
  .vertical_menu #head-page.adminbar-is-here.notopbar.reveal {
    top: 0;
  }
  .vertical_menu #head-page.adminbar-is-here.notopbar.reveal.alt {
    top: 0;
  }
  .vertical_menu #head-page.adminbar-not-here.hastopbar.reveal {
    top: 50px;
  }
  .vertical_menu #head-page.adminbar-not-here.hastopbar.reveal.alt {
    top: 0;
  }
  .vertical_menu #head-page.adminbar-not-here.notopbar.reveal {
    top: 0;
  }
  .vertical_menu #head-page.adminbar-not-here.notopbar.reveal.alt {
    top: 0;
  }
}
@media (min-width: 768px) and (max-width: 782px) {
  #head-page.adminbar-is-here.hastopbar.reveal {
    top: 46px;
  }
  #head-page.adminbar-is-here.hastopbar.reveal.alt {
    top: 0;
  }
  #head-page.adminbar-is-here.notopbar.reveal {
    top: 46px;
  }
  #head-page.adminbar-is-here.notopbar.reveal.alt {
    top: 0;
  }
  #head-page.adminbar-not-here.hastopbar.reveal {
    top: 0;
  }
  #head-page.adminbar-not-here.hastopbar.reveal.alt {
    top: 0;
  }
  #head-page.adminbar-not-here.notopbar.reveal {
    top: 0;
  }
  #head-page.adminbar-not-here.notopbar.reveal.alt {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-is-here.hastopbar.reveal {
    top: -50px;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-is-here.hastopbar.reveal.alt {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-is-here.notopbar.reveal {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-is-here.notopbar.reveal.alt {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-not-here.hastopbar.reveal {
    top: -50px;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-not-here.hastopbar.reveal.alt {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-not-here.notopbar.reveal {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-not-here.notopbar.reveal.alt {
    top: 0;
  }
}
@media (min-width: 783px) and (max-width: 991px) {
  #head-page.adminbar-is-here.hastopbar.reveal {
    top: 32px;
  }
  #head-page.adminbar-is-here.hastopbar.reveal.alt {
    top: 0;
  }
  #head-page.adminbar-is-here.notopbar.reveal {
    top: 32px;
  }
  #head-page.adminbar-is-here.notopbar.reveal.alt {
    top: 0;
  }
  #head-page.adminbar-not-here.hastopbar.reveal {
    top: 0;
  }
  #head-page.adminbar-not-here.hastopbar.reveal.alt {
    top: 0;
  }
  #head-page.adminbar-not-here.notopbar.reveal {
    top: 0;
  }
  #head-page.adminbar-not-here.notopbar.reveal.alt {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-is-here.hastopbar.reveal {
    top: -50px;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-is-here.hastopbar.reveal.alt {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-is-here.notopbar.reveal {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-is-here.notopbar.reveal.alt {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-not-here.hastopbar.reveal {
    top: -50px;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-not-here.hastopbar.reveal.alt {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-not-here.notopbar.reveal {
    top: 0;
  }
  #main-nav-check:checked ~ .top-head #head-page.adminbar-not-here.notopbar.reveal.alt {
    top: 0;
  }
}
@media (max-width: 991px) {
  #main-nav-check:checked ~ .top-head #top-bar {
    left: -270px;
    width: auto;
  }
}
/*
	#head-page #logomenu { display: block; }
	#head-page #logomenureveal { display: none; }
	#head-page #logomenumobile { display: block;}
	#head-page #logomenurevealmobile { display: none; }
*/
#head-page.transparent.reveal #logomenu {
  display: none;
}
#head-page.transparent.reveal #logomenureveal {
  display: block;
}
#head-page.transparent.alt #logomenu {
  display: block;
}
#head-page.transparent.alt #logomenureveal {
  display: none;
}
#head-page.solid.reveal #logomenu {
  display: none;
}
#head-page.solid.reveal #logomenureveal {
  display: block;
}
#head-page.solid.alt #logomenu {
  display: block;
}
#head-page.solid.alt #logomenureveal {
  display: none;
}
.vertical_menu #head-page.solid.reveal #logomenu {
  display: none;
}
.vertical_menu #head-page.solid.reveal #logomenureveal {
  display: block;
}
.vertical_menu #head-page.solid.alt #logomenu {
  display: block;
}
.vertical_menu #head-page.solid.alt #logomenureveal {
  display: none;
}
#head-page.transparent.reveal #logomenumobile {
  display: none;
}
#head-page.transparent.reveal #logomenurevealmobile {
  display: block;
}
#head-page.transparent.alt #logomenumobile {
  display: block;
}
#head-page.transparent.alt #logomenurevealmobile {
  display: none;
}
#head-page.solid.reveal #logomenumobile {
  display: block;
}
#head-page.solid.reveal #logomenurevealmobile {
  display: none;
}
#head-page.solid.alt #logomenumobile {
  display: block;
}
#head-page.solid.alt #logomenurevealmobile {
  display: none;
}
#head-page.alt {
  -moz-animation: none;
  -webkit-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
  box-shadow: none;
}
/*.logged-in.admin-bar .stickyonscrollup.is-visible{top: -48px!important;}*/
/**************** BOXED STRETCHED ******************/
.dt-boxed-stretched-container .stickyonscrollup.is-visible #dt-menu {
  padding-left: 15px;
  padding-right: 15px;
}
.dt-boxed-stretched-container .stickyonscrollup.is-visible {
  top: 0!important;
  margin-top: 2%;
  transform: translateY(0px);
}
.logged-in.admin-bar .dt-boxed-stretched-container .stickyonscrollup.is-visible {
  top: 0!important;
  margin-top: 2%;
  transform: translateY(32px);
}
/**************** /BOXED STRETCHED ******************/
@media (max-width: 767px) {
  .logged-in.admin-bar .stickyonscrollup.is-visible {
    top: -36px !important;
  }
}
@media (min-width: 768px) and (max-width: 782px) {
  .logged-in.admin-bar .stickyonscrollup.is-visible {
    top: -34px !important;
  }
}
@media (max-width: 991px) {
  #dt-menu > ul {
    margin-top: 85px;
  }
}
#logomenudesktop,
#logomenurevealdesktop {
  position: absolute;
}
#dt-nomenu #logomenudesktop,
#dt-nomenu #logomenurevealdesktop {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 10px;
}
@media (max-width: 991px) {
  #logomenudesktop,
  #logomenurevealdesktop {
    display: none;
  }
  #logomenuoverlay,
  #logomenumobile {
    display: block;
  }
  #logomenurevealmobile {
    display: none;
  }
  .stickyonscrollup #logomenumobile {
    display: block;
  }
  .stickyonscrollup #logomenurevealmobile {
    display: none;
  }
  .stickyonscrollup.is-visible #logomenumobile {
    display: none;
  }
  .stickyonscrollup.is-visible #logomenurevealmobile {
    display: block;
  }
}
@media (min-width: 992px) {
  #logomenumobile,
  #logomenurevealmobile,
  #logomenuoverlay {
    display: none;
  }
  #logomenudesktop {
    display: block;
  }
  #logomenurevealdesktop {
    display: none;
  }
  .stickyonscrollup #logomenudesktop {
    display: block;
  }
  .stickyonscrollup #logomenurevealdesktop {
    display: none;
  }
  .stickyonscrollup.is-visible #logomenudesktop {
    display: none;
  }
  .stickyonscrollup.is-visible #logomenurevealdesktop {
    display: block;
  }
}
