/* THEME STYLES */
#sequence {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  /* Left Zoom */
  /* Right Zoom */
}
#sequence > .sequence-canvas {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#sequence > .sequence-canvas li > * {
  position: absolute;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#sequence > .sequence-canvas:after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
}
#sequence .sequence-next,
#sequence .sequence-prev {
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  display: none;
  font-size: 30px;
  font-weight: 300;
  position: absolute;
  opacity: 0.9;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  height: 45px;
  width: 45px;
  z-index: 20;
  line-height: 1.4;
  text-align: center;
  -webkit-transition: color 350ms;
  -moz-transition: color 350ms;
  ms-transition: color 350ms;
  transition: color 350ms;
}
#sequence .sequence-next:hover,
#sequence .sequence-prev:hover {
  color: #ffffff;
}
#sequence .sequence-prev {
  left: 40px;
}
#sequence .sequence-next {
  right: 40px;
}
#sequence .sequence-next:hover,
#sequence .sequence-prev:hover {
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#sequence .from-left {
  left: -20%;
  opacity: 0;
  top: 0;
  vertical-align: middle;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
@media all and (max-width: 480px) {
  #sequence .from-left {
    left: 0%;
    background-position: 50% 0;
  }
}
#sequence .animate-in .from-left {
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-property: left, -webkit-transform, opacity;
  -moz-transition-property: left, transform, opacity;
  -ms-transition-property: left, transform, opacity;
  -o-transition-property: left, transform, opacity;
  transition-property: left, transform, opacity;
  -webkit-transition-duration: 13s, 15s, 1s;
  -moz-transition-duration: 13s, 15s, 1s;
  -ms-transition-duration: 13s, 15s, 1s;
  -o-transition-duration: 13s, 15s, 1s;
  transition-duration: 13s, 15s, 1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
@media all and (max-width: 480px) {
  #sequence .animate-in .from-left {
    left: 0%;
    background-position: 50% 0;
  }
}
#sequence .animate-out .from-left {
  left: 0%;
  opacity: 0;
  top: 0;
  z-index: 2;
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -ms-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
@media all and (max-width: 480px) {
  #sequence .animate-out .from-left {
    left: 0%;
    background-position: 50% 0;
  }
}
#sequence .slide-bg {
  background-repeat: no-repeat;
  background-size: cover;
}
#sequence .slide-bg:after {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  z-index: 10;
  opacity: 0;
}
#sequence .animate-in .slide-bg {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#sequence .animate-in .slide-bg:after {
  opacity: 1;
  -webkit-transition: opacity 1s 2s;
  -moz-transition: opacity 1s 2s;
  -o-transition: opacity 1s 2s;
  -ms-transition: opacity 1s 2s;
  transition: opacity 1s 2s;
}
#sequence .animate-out .slide-bg:after {
  opacity: 1;
}
#sequence .from-right {
  left: 0%;
  opacity: 0;
  top: 0;
  vertical-align: middle;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
@media all and (max-width: 480px) {
  #sequence .from-right {
    left: 0%;
    background-position: 50% 0;
  }
}
#sequence .animate-in .from-right {
  left: -20%;
  opacity: 1;
  top: 0;
  z-index: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-property: left, -webkit-transform, opacity;
  -moz-transition-property: left, transform, opacity;
  -ms-transition-property: left, transform, opacity;
  -o-transition-property: left, transform, opacity;
  transition-property: left, transform, opacity;
  -webkit-transition-duration: 13s, 15s, 1s;
  -moz-transition-duration: 13s, 15s, 1s;
  -ms-transition-duration: 13s, 15s, 1s;
  -o-transition-duration: 13s, 15s, 1s;
  transition-duration: 13s, 15s, 1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
@media all and (max-width: 480px) {
  #sequence .animate-in .from-right {
    left: 0%;
    background-position: 50% 0;
  }
}
#sequence .animate-out .from-right {
  left: -20%;
  opacity: 0;
  top: 0;
  z-index: 2;
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -ms-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
@media all and (max-width: 480px) {
  #sequence .animate-out .from-right {
    left: 0%;
    background-position: 50% 0;
  }
}
#sequence .slide-logo {
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 0;
  width: auto;
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  -o-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
}
#sequence .animate-in .slide-logo {
  opacity: 1;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -ms-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  -webkit-transition-delay: 2.2s;
  -moz-transition-delay: 2.2s;
  -ms-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  transition-delay: 2.2s;
  z-index: 1;
}
#sequence .animate-out .slide-logo {
  opacity: 0;
  z-index: 1;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#sequence .slide-title {
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 0;
  width: 100%;
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
  -webkit-transition-delay: 2.3s;
  -moz-transition-delay: 2.3s;
  -ms-transition-delay: 2.3s;
  -o-transition-delay: 2.3s;
  transition-delay: 2.3s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  -o-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
}
#sequence .animate-in .slide-title {
  opacity: 1;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -ms-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  -webkit-transition-delay: 2.4s;
  -moz-transition-delay: 2.4s;
  -ms-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
  z-index: 1;
}
#sequence .animate-out .slide-title {
  opacity: 0;
  z-index: 1;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#sequence .slide-text {
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 0;
  width: 100%;
  /*Text Width*/
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
  -webkit-transition-delay: 2.6s;
  -moz-transition-delay: 2.6s;
  -ms-transition-delay: 2.6s;
  -o-transition-delay: 2.6s;
  transition-delay: 2.6s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  -o-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
}
#sequence .animate-in .slide-text {
  opacity: 1;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -ms-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  -webkit-transition-delay: 2.6s;
  -moz-transition-delay: 2.6s;
  -ms-transition-delay: 2.6s;
  -o-transition-delay: 2.6s;
  transition-delay: 2.6s;
  z-index: 1;
}
#sequence .animate-out .slide-text {
  opacity: 0;
  z-index: 1;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#sequence .slide-button {
  left: 50%;
  top: 50%;
  width: auto;
  /*Text Width*/
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
  -webkit-transition-delay: 1.7s;
  -moz-transition-delay: 1.7s;
  -ms-transition-delay: 1.7s;
  -o-transition-delay: 1.7s;
  transition-delay: 1.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  -o-transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
  transition-timing-function: cubic-bezier(0, 0.65, 0.01, 1);
}
#sequence .animate-in .slide-button {
  /*Half element width*/
  opacity: 1;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -ms-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  -webkit-transition-delay: 2.8s;
  -moz-transition-delay: 2.8s;
  -ms-transition-delay: 2.8s;
  -o-transition-delay: 2.8s;
  transition-delay: 2.8s;
  z-index: 1;
}
#sequence .animate-out .slide-button {
  opacity: 0;
  z-index: 1;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
